
exports.PORTAL_URL = 'http://localhost:8080';

exports.AUTH = {
  login: 'test@liferay.com',
  password: 'test'
};

exports.WRONG_AUTH = {
  login: 'i-do-not-exists@liferay.com',
  password: 'wrong' + Math.random()
};
